# Ignore Visual Studio files
.vs/
*.user
*.suo
*.VC.db
*.vscode/

# Ignore build directories
x64/

# Ignore executables and object files
*.exe
*.obj
*.pdb


# Ignore build outputs
x64/
*.tlog/
*.tlog
*.obj
*.ilk
*.log
*.idb
*.pdb
